@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.shadow-blue{
    filter: drop-shadow(0 0 0 blue);
}

.shadow-df{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 4px;
}

.zoomed {
    z-index: 1000;
    animation: fillAnimation 0.4s ease-in forwards;
}

@keyframes fillAnimation {
    
    100% {
        background-color: #f7f7f8;
        transform: scale(100) ;
        
    }
  }